<div class="content__items">
  <div class="items__selected">
    <div class="selected__option">
      <input
        type="checkbox"
        id="item"
        name="item"
        class="option__input"
        [checked]="item.purchased"
      />
      <label class="option__label">{{ item.name }}</label>
    </div>

    <small class="selected__time">{{ item.date }}</small>
  </div>

  <div class="items__selected">
    <div class="selected__actions">
      <a href="#" class="actions__link red"
        (click)="removeItem()">Apagar</a>

      <a href="#" class="actions__link blue" (click)="updatedItem()">
        Editar
      </a>
    </div>
  </div>
</div>
