.selected__option {
  display: flex;
  padding: 0.5em 0;
}

.option__input {
  max-width: 300px;
  max-height: 300px;
  width: 20%;
}

.option__label {
  font-size: 25px;
  margin-left: 0.5em;
}

.selected__time {
  border-bottom: 1px solid var(--gray-color);
}

.selected__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
}

.actions__link {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.actions__link:hover {
  background: var(--gray-color);
  color: var(--black-color);
}

.red {
  background: var(--red-color);
}

.blue {
  background: var(--blue-color-1);
}

@media screen and (max-width: 512px) {
  .selected__option {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .option__input {
    width: 100%;
    height: 30px;
  }
}

@media screen and (max-width: 412px) {
  .selected__actions {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .actions__link {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
}
