<form class="form" (ngSubmit)="editing ? updatedItem() : addingItem()">
  <input
    type="search"
    id="search"
    name="search"
    class="form__search"
    placeholder="Digite algum item"
    [(ngModel)]="valueItem"/>

  <button class="form__button">
    {{ textBtn }}
  </button>
</form>
