.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 1.5em 0;
  width: 100%;
}

.form__search {
  padding: 0.5em;
  font-size: 18px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--gray-color);
  width: 100%;
  margin: 1em;
}

.form__button {
  background: var(--blue-color-1);
  border: none;
  padding: 0.5em;
  font-size: 20px;
  border-radius: 8px;
  color: var(--white-color);
  cursor: pointer;
}

.form__button:hover {
  background: var(--black-color);
}
