.container__content {
  background: var(--white-color);
  padding: 2em;
  width: 50%;
  border-radius: 20px;
}

.content__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.items__title {
  color: var(--blue-color-1);
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}

.items__link {
  text-decoration: none;
  color: var(--black-color);
  border: 2px solid var(--gray-color);
  padding: 0.5em;
  border-radius: 12px;
}

.items__link:hover {
  background: var(--blue-color);
  border: 2px solid var(--black-color);
  transition: ease ;
}

.content-item {
  border: 1px solid var(--black-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-item {
  background: var(--red-color);
  color: var(--white-color);
  font-size: 18px;
  padding: 1em;
}


@media screen and (max-width: 752px) {
  .container__content {
    width: 70%;
  }
}
