<main class="container">
  <app-input
    [itemThatWillBeEdited]="itemToBeEdited"></app-input>

  <article class="container__content">
    <section class="content__items">
      <h2 class="items__title">Lista de Compras</h2>

      <a
        href="#"
        class="items__link"
        (click)="clearList()">Limpar lista</a>
    </section>
    <section
      *ngIf="listShopping.length !== 0; else noItem">

      <div *ngFor="let item of listShopping">
        <app-item
          [item]="item"
          (issueItemToEdit)="updatedItem($event)"
          (issueItemToRemove)="removeItem($event)"></app-item>
      </div>
    </section>

    <ng-template #noItem>
      <div class="content-item">
        <small class="no-item">Não tem item na lista.</small>
      </div>
    </ng-template>

  </article>
</main>
