@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --blue-color: #8ECDDD;
  --blue-color-1: #22A699;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --red-color: #CD1818;
  --gray-color: #CCCC;

  --inter-font: 'Inter', sans-serif;
}

body {
  background: var(--blue-color);
  font-family: var(--inter-font);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 0;
}

.content__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  flex-wrap: wrap;
  width: 100%;
}

.content-items {
  padding: 0.4em;
  border-bottom: 0.5px solid var(--black-color);
}


@media screen and (max-width: 766px) {
  .content__items {
    flex-direction: column;
    gap: 20px;
  }

  .content-items {
    background: var(--gray-color);
    margin: 10px 0;
    border: 2px solid var(--black-color);
  }
}
